@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Informações Profissionais</h2>
</hgroup>

<article>
    <p>
       
<h1>Fernando Guimarães Ferreira	</h1>

<h3>Objetivo Profissional</h3>	Trabalhar como desenvolvedor Sênior, coordenador/líder técnico ou arquiteto de software.
	
<h3>Áreas/Cargos Pretendidos</h3>	Analista Programador, Arquiteto de Software, Coordenador de projetos, 
Desenvolvimento/Programação, Gerente de Projetos.
	
<h3>Mini Currículo</h3>	Experiência em desenvolvimento de sistemas em C#. Três anos de experiência como coordenador técnico, acumulando quando necessário, a função de gerente de projetos. Conhecimento das melhores práticas do ITIL v3. Experiência em arquitetura de sistemas e construção de ambiente/framework em projetos de médio e grande porte. Domínio das frameworks 3.0, 3.5, 4.0 e 4.5 da plataforma .Net. Domínio da entity framework e ADO.Net, tendo atuado também com a EF 5.0	

	

<h3>Formação Acadêmica</h3>
<ul>
    <li>Curso: Gestão de TI</li>
    <li>Grau: Graduação</li>
    <li>Instituição: Estácio de Sá</li>
    <li>Data inicial: 08/2013</li>
</ul>

<ul>
    <li>Curso: Sistemas de Informação</li>
    <li>Grau: Grad.(Abandonadoo)</li>
    <li>Instituição: UNISA</li>
    <li>Data inicial: 02/2009</li>
</ul>

<ul>
    <li>Curso: Informatica Gerencial</li>
    <li>Grau: Técnico</li>
    <li>Instituição: Cotemig</li>
    <li>Data inicial: 02/1998</li>
    <li>Data conclusão: 12/2000</li>
</ul>


<h3>Experiência Profissional</h3>
<ul>
    <li>Empresa:  Stefanini</li>
    <li>Cargo: Analista Desenvolvedor</li>
    <li>Data de entrada: 09/2013</li>
    <li>Data de saída: Atual</li>
    <li>Funções: Desenvolvimento de sistemas Web em C#.net e VB.Net;</li>
    <li>Tecnologias:<br>- ASP.Net C# 4.5, VB.Net
<br>- SQL Server, Oracle, Sybase
<br>- WCF</li>
</ul>

        <ul>
            <li>Empresa:  PD Case</li>
            <li>Cargo: Analista Desenvolvedor</li>
            <li>Data de entrada: 12/2011</li>
            <li>Data de saída: 06/2013</li>
            <li>Funções: Desenvolvimento de sistemas Web em C#.net;<br>Criação de arquitetura de sistemas;
<br>Criação de frameworks para sistemas;
<br>Participação ativa na contratação de profissionais realizando avaliações técnicas.</li>
            <li>Tecnologias:
<br>- ASP.Net C# 4.5, 4.5
<br>- Entity Framework 4.5, 5.0
<br>- SQL Server
<br>- EA
<br>- UML</li>
        </ul>

<ul>
    <li>Empresa:  JSW Softwares</li>
    <li>Cargo: Gerente de Produção</li>
    <li>Data de entrada: 10/2008</li>
    <li>Data de saída: 12/2011</li>
    <li>Funções: Criação de metricas de desenvolvimento.

<br />Desenvolvimento de Framework em C# para aumento de produtividade da
equipe.

<br />Coordenação de Equipe de desenvolvimento de sistemas.

<br />Gerência de ambiente de produção e parte integrante na tomada de decisão
da diretoria da empresa.</li>
    <li>tecnologias empregadas:
<br>C#3.5/4.0
<br>Aplicações Web
<br>Aplicações Windows Forms
<br>Aplicações WPF (migração de plataforma) 
<br>Banco de dados SQL Server e PostgreSql</li>

</ul>
<ul>
    <li>Empresa:  Synos Technologies</li>
    <li>Cargo: Analista/Programador</li>
    <li>Data de entrada: 06/2007</li>
    <li>Data de saída: 08/2008</li>
    <li>Funções: Levantamento de Requisitos e especificação UML;<br>Desenvolvimento de aplicações Web em PHP, ASP, ASP.Net, C#, Oracle, MySQl.
Alocado no Jornal Estado de Minas</li>
</ul>

<ul>
    <li>Empresa:  TTY 2000</li>
    <li>Cargo: Analista/Programador</li>
    <li>Data de entrada: 04/2006</li>
    <li>Data de saída: 06/2007</li>
    <li>Funções: Desenvolvimento de aplicações Web em VB6, ASP, ASP.Net, C# SQL Server,
Oracle, MySQl.</li>
    <li>Alocado no Mercantil do Brasil, CEMIG e Acesita</li>

</ul>
        <h3>Outras Experiências</h3>
        <ul>
            <li> Lidertech Web & Softwares (programador C#) - 2004/2006</li>
            <li> AIM Informática (programador VB6/ASP3) - 2002/2004</li>
            <li> Informar Educacional (programador VB3/VB6/ ASP 3) - 1999/2002</li>
        </ul>


<h3>Idiomas</h3><ul><li>Inglês: Intermediário</li></ul>
	

<h3>Cursos/Certificações</h3>
        <ul>
            <li>ITIL v3 Foundations
            <br>Ano:2013
            <br>Empresa: Trainning</li>
        </ul>	

<h3>Habilidades	</h3> 
.Net, Análise Essencial, Análise Estruturada, Análise Orientada Ao Objeto, Asp, Automação
Industrial, Bancos, C#, CRM-Customer Relation ship Management, Crystal Reports, CSS - Cascading
Style Sheets, E-Business, E-Commerce, HTML, IIS-InternetInformationServer, Intranet, 
Javascript, MS Excel, Mysql, Oracle, PCP-Planejamento e Controle de Produção, PHP(Linux), 
Postgree SQL, Programação em 3 camadas, Seguros, SQL, SQL Server, UML-Unified Modeling
Language, VB.Net, VBScript, Visual Studio, Windows 2003, Work Flow, XML


	






    </p>
</article>

<aside>
    <h3>Dados Pessoais</h3>
    <p>
        Rua Lauro Ferreira, 163 apto 1100, bl.3 Buritis/Belo Horizonte - MG
        <br>Tel.: [31] 9471-6530
    </p>
    <ul>
        <li>Idade:31</li>
        <li>Estado Civil: Casado</li>
        <li>Filhos: Sim</li>
        <li>Sexo: Masculino</li>
    </ul>
</aside>