<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICliente" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55025/Cliente.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICliente" contract="XYZWcf.ICliente"
                name="BasicHttpBinding_ICliente" />
        </client>
    </system.serviceModel>
</configuration>